/* for google fonts */

@import url('https://fonts.googleapis.com/css2?family=Epunda+Sans:ital,wght@0,300..900;1,300..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* BASIC STYLING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    border-width: .1rem;

}

.flex {
    display: flex;
    align-items: center;
}

.between {
    justify-content: space-between;
}

/* for color */
:root {
    --black: #000;
    --white: #fff;
    --gray: #f4f4f4;
    --golden-hour: #f1b555;
    --antiueq-brown: #9b281a;
}


.wrapper {
    max-width: 1450px;
    margin: auto;
    padding-inline: 2rem;
}

.golden-bg {
    background: var(--golden-hour);
}

.brown-bg {
    background: var(--antiueq-brown);
}

/* navigation */

a {
    text-decoration: none;
    color: var(--black);
}

li {
    list-style: none;
}


.navigation {
    height: 12vh;
}

.nav-icons {
    gap: 1.5rem;
}

.icon {
    font-size: 1.1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}




/* SECTION PART */

.hero-section {
    height: calc(100vh - 12vh);
    justify-content: center;
}

.h1-heading {
    font-size: 9rem;
    font-weight: 300;
    line-height: 100%;
}

.btn {
    padding: .7rem 2rem;
    font-size: .9rem;
    color: var(--white);
    border-radius: 5rem;
    display: flex;
    justify-self: flex-end;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background: var(--black);
}

span {
    font-weight: bold;
}

.big-para {
    font-size: 1.8rem;
    font-weight: 300;
}